.friendsListDiv {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.friendCard {
  width: 25%;
  margin: 0 auto 15px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  color: white;
  padding: 0;
}

.App {
  background-image: url('./img/community-enjoying-facial-expression-936006.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  padding-bottom: 150px;
 
}

h1 {
  font-size: 110%;
  margin: 0 3%;
  text-align: center;
  padding-top: 7px;
}

.inputForm {
  width: 50%;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.inputDiv {
  width: 60%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  color: white;

}

.deleteButton {
  background-color: rgb(182, 15, 15);
  font-size: 100%;
  margin: 1%;
  color: white;
}

.deleteButton p {
  padding: 0%;
  margin: 0;
}

.deleteButton:hover {
  background-color: darkred;
  border: none;
  padding: 3px 8px;
  cursor: pointer;
}

.flexyDiv {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

.flexyDiv2 {
  display: flex;
  justify-content: center;
  margin: 1% 0 0 0;
  height: 41px;
}

.otherButton1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 90%;
  padding: 1.5%;
  width: 100%;
  cursor: pointer;
}

.otherButton1:hover {
  background-color: rgba(134, 134, 134, 0.5);
}

.otherButton2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 90%;
  padding: 1.5%;
  width: 100%;
  margin: 1%;
  cursor: pointer;
}

.otherButton2:hover {
  background-color: rgba(134, 134, 134, 0.5);
}